<h1>New Book</h1>
<form name="BookFormComponentCtrl.bf" novalidate>

    <input type="text"
           name="title"
           ng-model="BookFormComponentCtrl.book.title"
           placeholder="title" required>

    <span ng-show="BookFormComponentCtrl.bf.title.$invalid && BookFormComponentCtrl.bf.title.$dirty">
        Bitte tätigen Sie eine Eingabe.
    </span><br>

    <input type="text"
           name="author"
           ng-model="BookFormComponentCtrl.book.author"
           placeholder="author" required>

    <span ng-show="BookFormComponentCtrl.bf.author.$invalid && BookFormComponentCtrl.bf.author.$dirty">
        Bitte tätigen Sie eine Eingabe.
    </span><br>

    <input type="text"
           name="isbn"
           ng-model="BookFormComponentCtrl.book.isbn"
           placeholder="isbn" required validate-isbn>

    <span ng-show="BookFormComponentCtrl.bf.isbn.$invalid && BookFormComponentCtrl.bf.isbn.$dirty">
        Bitte tätigen Sie eine Eingabe.
    </span><br>

    <input type="number"
           name="numPages"
           ng-model="BookFormComponentCtrl.book.numPages"
           placeholder="numPages" required>

    <span ng-show="BookFormComponentCtrl.bf.numPages.$invalid && BookFormComponentCtrl.bf.numPages.$dirty">
        Bitte tätigen Sie eine Eingabe.
    </span><br>

    <button ng-click="BookFormComponentCtrl.storeBook(BookFormComponentCtrl.book)"
            ng-disabled="BookFormComponentCtrl.bf.$invalid">
        Store Book
    </button>

</form>